
.email-info h4, .language-info h4, .phone-info h4 {
  display: inline-block;
  text-align: left;
  margin: 5px 5px 5px 0px;
}

.update-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.back-to-chat {
  color: #358bd0;
  padding: 10px 20px;
}

.back-to-chat:hover {
  background-color: transparent;
}

.user-info, .email-info, .language-info, .phone-info {
  padding: 5px;
  margin:5px;
}

.edit-btn {
  max-width: 300px !important;
  width: -webkit-fill-available !important;
}

.edit-btn:hover {
  background-color: #e0e0e0;
}

.change-icon {
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 12px !important;
  height: 12px !important;
}

.profile-h1 {
  font-size: calc(.9rem + .9vw) !important;
  font-weight: 800 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:75px;
  padding-bottom: 15px;
}

h2.element-label{
  font-size: calc(.7rem + .7vw)!important;
  font-weight: 900 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(1rem + 1vw) 0px;
}

h3.element-label {
  font-size: calc(.6rem + .6vw) !important;
  font-weight: 600 !important;
}

h4.element-label {
  font-size: calc(.5rem + .5vw) !important;
  font-weight: 500 !important;
}

h5 {
  font-size: calc(.4rem + .4vw) !important;
  font-weight: 400 !important;
}

.rounded-button {
  display: inline-block;
  width: calc(100% + 20px);
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #358BD0;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.rounded-button:hover {
  background-color: #0069d9;
  box-shadow: gray 0px 0px 5px;
}

.drop-down {
  display: inline-block;
  font-size: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container.image {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

.element-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  padding-inline: 15%;
  flex-wrap: wrap;
}

.element-label {
  flex: 0 0 auto; /* allows the header to take up only the necessary space */
}

/* Container needed to position the overlay. Adjust the width as needed */
.avatar-container {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin: 0 auto;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: transparent;
  border-radius: 50%;
  border: gray 2px solid;
  position: relative;
}

.outer img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  border: gray 2px solid;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #358BD0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 3px solid white;
  margin-right: 10px;
  margin-bottom: 10px;
}

.inner:hover {
  background-color: #0069d9;
  box-shadow: gray 0px 0px 5px;
}


button {
  width: 160px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: rgb(240, 109, 109);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e34040;
 }

 button, button span {
  transition: 200ms;
 }

 button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
 }

 button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 button svg {
  width: 15px;
  fill: #eee;
 }

 button:hover {
  background: #ff3636;
 }

 button:hover .text {
  color: transparent;
 }

 button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }

 button:focus {
  outline: none;
 }

.custom-select {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  width: 8.0rem;
  height: 2.5rem;
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 3px #999;
}

.custom-select option {
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
}

.custom-select option:hover {
  background-color: #f5f5f5;
}


 button:active .icon svg {
  transform: scale(0.8);
 }
